<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="app/public/js/angular.min.js"></script>
  <link rel="stylesheet" href="app/public/css/mobile-angular-ui-base.min.css">
  <link rel="stylesheet" href="app/public/css/mobile-angular-ui-desktop.min.css">
  <script src="app/public/js/db-api.js"></script>
  <script src="app/public/js/card-session.js"></script>
  <script src="login.js"></script>
  <script src="app/public/js/jquery-1.10.2.js"></script>
  <script src="app/public/js/angular-route.min.js"></script>
  <script src="app/public/js/angular-touch.min.js"></script>
  <script src="app/public/js/mobile-angular-ui.min.js"></script>
  <script src="angular-app/dist/application.js"></script>
  <link rel="stylesheet" href="angular-app/dist/application.css">
</head>
<body ng-app="App" class="ng-scope has-sidebar-left">
  <div ng-include="'templates/sidebar.html'" id="main-sidebar" toggleable
    class="sidebar sidebar-left" parent-active-class="sidebar-left-in"></div>

  <div ng-include="'templates/right-sidebar.html'" id="right-sidebar" toggleable
    class="sidebar sidebar-right" parent-active-class="sidebar-right-in"
    ng-controller="GameNotificationsController"></div>

  <div class="app has-navbar-top container">
    <nav class="navbar navbar-app navbar-absolute-top">
      <div class="navbar-brand navbar-brand-center">
        <span>Cards Against Humanity</span>
      </div>

      <div class="btn-group pull-left">
        <div class="btn btn-navbar sidebar-toggle" ng-click="toggle('main-sidebar')">
          <i class="fa fa-bars"></i> Menu
        </div>
      </div>

      <div class="btn-group pull-right" yield-to="navbarAction">
        <div class="btn btn-navbar" ng-click="toggle('right-sidebar')">
          <i class="fa fa-bell-o"></i> News
        </div>
      </div>
    </nav>

    <div class="app-body">
      <div class="app-content-loading" ng-show="loading">
        <i class="fa fa-spinner fa-spin loading-spinner"></i>
      </div>
      <ng-view class="app-content" ng-hide="loading"></ng-view>
    </div>
  </div>

  <script id="templates/sidebar.html" type="text/ng-template">
    <h1 class="app-name">Options</h1>
    <div class="sidebar-scrollable scrollable">
      <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="main-sidebar">
          <a class="list-group-item" href="#/">Search <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/new-game">New Game<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/stats">My Stats<i class="fa fa-chevron-right pull-right"></i></a>
        </div>
      </div>
    </div>
  </script>

  <script id="templates/right-sidebar.html" type="text/ng-template">
    <h1 class="app-name">Notifications</h1>
    <div class="sidebar-scrollable scrollable">
      <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="right-sidebar">
          <a class="list-group-item btn notification"
            ng-repeat="notification in notifications" ng-href="#/game/{{notification.id_sbc}}">
              {{ notification.text }}
          </a>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/new-game.html">
    <div ng-controller="NewGamesController" class="app-content">
      <div class="scrollable">
        <div class="scrollable-content">
          <h3>Choose your card</h3>
          <div class="col-sm-4 col-xs-12" ng-repeat="card in blackCards" ng-click="selectCard(card.id_bc)">
            <button class="black-card">
              {{ card.text }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/all-games.html">
    <div class="app-content" ng-controller="GamesIndexController">
      <div class="scrollable">
        <div class="scrollable-content">
          <h3>Nearby Games</h3>
          <a class="btn black-card" ng-href="#/game/{{session.fk_blackCards}}" ng-repeat="session in sessions">
            {{session.text}}
          </a>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/stats.html">
    <div class="app-content">
      <h3>My Stats</h3>
    </div>
  </script>

  <script type="text/ng-template" id="templates/show-game.html">
    <div class="app-content scrollable" ng-controller="GamesController">
      <div class="scrollable-content">
        <button class="black-card">{{ game.blackCard.text }}</button>
        <div ng-show="game.mine">
          <div class="col-xs-6 col-sm-4" ng-repeat="response in game.responses">
            <button class="white-card">
              {{ response.Response }}
            </button>
          </div>
        </div>
        <div ng-hide="game.mine">
          <div class="col-xs-6 col-sm-4" ng-repeat="choice in game.choices">
            <button class="white-card">
              {{ choice.text }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>
</body>
</html>
