<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/public/css/mobile-angular-ui-base.min.css">
  <link rel="stylesheet" href="app/public/css/mobile-angular-ui-desktop.min.css">
  <script src="http://cdn.pubnub.com/pubnub.min.js"></script>
  <script src="app/public/js/angular.min.js"></script>
  <script src="app/public/js/db-api.js"></script>
  <script src="app/public/js/card-session.js"></script>
  <script src="app/public/js/jquery-1.10.2.js"></script>
  <script src="app/public/js/angular-route.min.js"></script>
  <script src="app/public/js/angular-cookies.min.js"></script>
  <script src="app/public/js/angular-touch.min.js"></script>
  <script src="app/public/js/angular-animate.min.js"></script>
  <script src="app/public/js/angular-sanitize.min.js"></script>
  <script src="app/public/js/mobile-angular-ui.min.js"></script>
  <script src="angular-app/dist/application.js"></script>
  <link rel="stylesheet" href="angular-app/dist/application.css">
</head>
<body ng-app="App" class="ng-scope has-sidebar-left">
  <div ng-include="'templates/sidebar.html'" id="main-sidebar" toggleable
    class="sidebar sidebar-left" parent-active-class="sidebar-left-in"></div>

  <div ng-include="'templates/right-sidebar.html'" id="right-sidebar" toggleable
    class="sidebar sidebar-right" parent-active-class="sidebar-right-in"
    ng-controller="GameNotificationsController"></div>

  <div class="app has-navbar-top container"
    ng-swipe-left="toggle('right-sidebar', 'on')"
    ng-swipe-right="toggle('main-sidebar', 'on')">
    <nav class="navbar navbar-app navbar-absolute-top">
      <div class="navbar-brand navbar-brand-center">
        <span>Cards Against Humanity</span>
      </div>

      <div class="btn-group pull-left">
        <div class="btn btn-navbar sidebar-toggle" ng-click="toggle('main-sidebar')">
          <i class="fa fa-bars"></i>
        </div>
      </div>

      <div class="btn-group pull-right" yield-to="navbarAction">
        <div class="btn btn-navbar" ng-click="toggle('right-sidebar')">
          <i class="fa fa-bell-o"></i>
        </div>
      </div>
    </nav>

    <div class="app-body" ng-class="{loading: loading}">
      <div class="app-content-loading" ng-show="loading">
        <i class="fa fa-spinner fa-spin loading-spinner"></i>
      </div>
      <ng-view class="app-content" ng-hide="loading"></ng-view>
    </div>
  </div>

  <script id="templates/sidebar.html" type="text/ng-template">
    <div class="sidebar-scrollable scrollable">
      <div class="scrollable-content">
        <h1 class="app-name">Menu</h1>
        <div class="list-group" toggle="off" bubble target="main-sidebar">
          <a class="list-group-item" href="#/games">Search <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/new-game">New Game<i class="fa fa-chevron-right pull-right"></i></a>
        </div>
      </div>
    </div>
  </script>

  <script id="templates/right-sidebar.html" type="text/ng-template">
    <h1 class="app-name">Notifications</h1>
    <div class="sidebar-scrollable scrollable">
      <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="right-sidebar">
          <a class="list-group-item btn notification"
            ng-repeat="notification in notifications" ng-href="#/game/{{notification.sid}}">
              {{ notification.text }}
          </a>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/new-game.html">
    <div class="scrollable" ng-controller="NewGamesController">
      <div class="scrollable-content">
        <h3>Choose your card</h3>
        <div class="col-sm-4 col-xs-12" ng-repeat="card in blackCards"
          ng-click="selectCard(card)">
          <button class="black-card" ng-bind-html="card.text | blackCardText">
          </button>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/all-games.html">
    <div class="scrollable" ng-controller="GamesIndexController">
      <div class="scrollable-content">
        <h3>Nearby Games</h3>
        <div class="col-xs-12 col-sm-6" ng-repeat="session in sessions" data-index="{{sessions.indexOf(session)}}">
          <a href="" ng-href="#/game/{{session.sid}}">
            <button class="black-card" ng-bind-html="session.text | blackCardText"></button>
          </a>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/stats.html">
    <div class="scrollable">
      <div class="scrollable-content">
        <h3>My Stats</h3>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/show-game.html">
    <div class="scrollable" ng-controller="GamesController">
      <div class="scrollable-content">
        <button class="black-card" ng-bind-html="game.blackCard.text | blackCardText"></button>
        <div ng-if="game.mine">
          <h3>Responses so far</h3>
          <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="response in game.blackCard.responses">
            <button class="white-card">
              {{ response.text }}
            </button>
            <p>by {{ response.username }}</p>
          </div>
        </div>
        <div ng-if="!game.mine">
          <div ng-if="game.myResponse">
            <h3>You have already submitted</h3>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <button class="white-card">
                {{ game.myResponse.text }}
              </button>
            </div>
          </div>
          <div ng-if="!game.myResponse">
            <h3>Pick one</h3>
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="choice in game.choices">
              <button class="white-card" ng-click="submitResponse(choice)">
                {{ choice.text }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/login.html">
    <div ng-controller="UsersLoginController">
      <form class="simple-form">
        <input bs-form-control type="text" ng-model="user.name"
          label="Username" placeholder="Pick a username" required>
        <button type="submit" class="btn" ng-click="submit(user)">Submit</button>
      </form>
    </div>
  </script>
</body>
</html>
