$black: #000;
$white: #fff;

@mixin css-transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin css-transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

.black-card {
  background-color: $black;
  color: $white;
  border: 5px solid transparent;
  width: 100%;
  font-size: 1.5em;
  height: 200px;
  margin-bottom: 30px;
}

.white-card {
  margin-top: 20px;
  background-color: $white;
  height: 150px;
  width: 100%;
  font-size: 1.3em;
}

.card-blank {
  color: red;
  text-decoration: underline;
  white-space: pre;
}

@media (max-width: 768px) {
  .black-card {
    height: 150px;
  }
}

.notification {
  white-space: normal;
  width: 100%;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  color: $white;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.app-content {
  .anim-pop {
    &.ng-enter {
      @include css-transition(all 0.3s ease);
    }
    &.ng-leave {
      @include css-transition(all 0.3s 0.3s ease);
    }

    &.ng-enter, &.ng-leave-active, &.ng-move {
      @include css-transform(scale(0));
    }
    &.ng-leave, &.ng-enter-active, &.ng-move-active {
      @include css-transform(scale(1));
    }
  }
}
