$black: #000;
$white: #fff;

.black-card {
  background-color: $black;
  color: $white;
  border: 5px solid transparent;
  width: 100%;
  font-size: 1.5em;
  height: 200px;
}

.white-card {
  margin-top: 20px;
  background-color: $white;
  height: 150px;
  width: 100%;
  font-size: 1.3em;
}

@media (max-width: 768px) {
  .black-card {
    margin-bottom: 30px;
    height: 150px;
  }
}

.notification {
  white-space: normal;
  width: 100%;
}
